/* FONTS TOEVOEGEN*/
@font-face {
    font-family: "NexaLight";
    src: url("fonts/NexaLight.otf");
}

@font-face {
    font-family: "NexaBold";
    src: url("fonts/NexaBold.otf")
}



body {
    background: white;
}


p {
    font-family: "NexaLight";

}
#trendingbutton {
    text-decoration:none;
    color: inherit;
}

header {
    background: white;
    padding-top: 0.1em;
    padding-left: 0.3em;
    border-bottom: solid grey 0.01em;


}

#banner {
    font-family: "NexaLight";
    padding-left: 2em;
    font-size: 1.3em;
    color: #4DB26F;
/*    background: white;*/

}

h2 {
    font-family: "NexaBold";
    margin-bottom: 0.5em;
    font-size: 1.3em;
}

h3, h4 {
    font-family: "NexaLight";

}




html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

#wwvergeten {
    font-family: "NexaLight";
    font-size: 1em;
    color: inherit;
}

#registreren {
    font-family: "NexaLight";
    font-size: 1em;
    color: inherit;
}

#geenaccount {
    font-family: "NexaLight";
    font-size: 1em;
}

.inlog, .registratie {
    margin-left: 1em;
}



/* ****************************************
    COLORS
   **************************************** */
html {
    background-color: white;
}
.cmda-sidemenu #pancake-icon {
    background-color: white;
/*    border-color:black;*/
    color: #4DB26F;
}

.cmda-sidemenu nav {
    background-color: white;
    color: black;
}
.cmda-sidemenu nav li:hover {
    background-color: navy;
}
.cmda-sidemenu nav a {
    color:  #4DB26F;
}


.cmda-sidemenu nav li {
    border-bottom-color: darkgray;
}



/* ****************************************
    MAIN SIDEMENU
   **************************************** */
.cmda-sidemenu main {
    margin: 0;
    padding: 0;
    -webkit-transition: margin .5s ease-in-out;
    transition: margin .5s ease-in-out;
}

.cmda-sidemenu main.move-right {
    margin-left: calc(100vw - 2.75rem);
    margin-right: calc(2.75rem - 100vw);
}

.cmda-sidemenu main h1 {
    line-height:2.75rem;
    padding-left:2.75rem;
    margin:0;
    background-color: white;
    color: #4DB26F;
}

.cmda-sidemenu main p {
    padding:0 1em;
}

/* PANNENKOEKMENU EN KRUISJE*/

.cmda-sidemenu #pancake-icon {
    position: absolute;
    left: .5rem;
    top: .5rem;
    font-size: 1.75rem;
    width:1.75rem;
    height:1.75rem;
    line-height:1.5rem;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-radius:.25rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: left .5s ease-in-out;
    transition: left .5s ease-in-out;
    z-index:100;

}
.cmda-sidemenu #pancake-icon:after {
    content: "\2261"; /* utf-8 code voor pannenkoek symbool */
}

.cmda-sidemenu #pancake-icon.close-icon {
    line-height: 1.25rem;
    left: calc(100% - 2.25rem);
}

.cmda-sidemenu #pancake-icon.close-icon:after {
    content: "\2A2F"; /* utf-8 code voor kruis */
}





/*NAVIGATIE SIDE*/

.cmda-sidemenu nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(2.75rem - 100vw);
    width: calc(100vw - 2.75rem);
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-property: box-shadow, left;
    transition-property: box-shadow, left;
    overflow-y:scroll;
    -ms-overflow-style:none;
    font-family: "NexaLight";
}

.cmda-sidemenu nav::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.cmda-sidemenu nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cmda-sidemenu nav li {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.cmda-sidemenu nav a {
    text-decoration: none;
    line-height:2.75rem;
    padding:0 .75rem;
}

.cmda-sidemenu nav.show {
    left: 0;
    box-shadow: .25rem 0 .5rem 0 rgba(0,0,0,.5);
}

/* dit stukje code zorgt voor de > tekens achter elk menu-item */
/* je kunt deze hele regel verwijderen als je het niet mooi vindt */
.cmda-sidemenu nav.show li:after {
    position: absolute;
    right: 1rem;
    content: "\203A"; /* utf-8 code voor > teken */
    font: bold 1.3rem sans-serif;
    line-height:2.75rem;
}




/* AANBEVOLEN ITEMS IN CONTAINER*/

#aanbevolen {
    background: white;

}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}


.flex-item {
  background: white;
/*  padding: 1em;*/
  width: 12em;
  height: 6em;
  margin-top: 0.2em;
    margin-right: 1em;
 border-radius: 1em;
  line-height: 6em;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
    font-family: "NexaLight";
    font-size: 1.5em;
    border: solid 0.02em;
}


/*navigatie*/



.navigation {
  list-style: none;
  margin: 0;

  background: #4DB26F;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
font-family: "NexaLight";
}

.navigation a:hover {
  background: navy;
}

/*navigatie balk bovenin, verandert mee met scherm*/

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

article {
    display: block;
    padding-left: 2em;
    padding-top: 0.1em;
}

.meerbutton {
/*    border: none;*/
    margin-left: 3em;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background: navy;
    color: white;
    border-radius: 0.5em;
    text-align: left;
    width: 13em;
    font-size: 0.75em;
}




/* CSS Document */
/* auteur: Sanne 't Hooft */


/*******************/
/* MATEN EN MARGES */
/*******************/

/* breedte van de items in je carrousel */
/* standaard 100% van de breedte  - 4em  */
/* zo is altijd een stukje van het 2e item te zien */
.cmda-carrousel > ul:first-of-type > li {
    min-width:calc(100% - 4rem);
}

/* ruimte tussen de items */
/* standaard 1 em */
.cmda-carrousel > ul:first-of-type > li:not(last-child) {
    padding-right:1rem;

}

/* marge aan de linkerkant van de carrousel */
/* standaard 1 em */
.cmda-carrousel > ul:first-of-type > li:first-child {
    padding-left:1rem;
}
/* marge aan de rechterkant van de carrousel */
/* standaard 1 em */
.cmda-carrousel > ul:first-of-type > li:last-child {
    padding-right:1rem;
}


/***********/
/* KLEUREN */
/***********/

/* de kleur van de bolletjes */
.cmda-carrousel .cmda-bolletjes li {
    background-color:rgb(153,153,153);
}

/* de kleur van het actieve bolletje */
.cmda-carrousel .cmda-bolletjes li.active {
    background-color:rgb(77,77,77);
}






/************/
/* DE BASIS */
/************/

/* nb. Onderstaande regels alleen aanpassen als je snapt wat er staat */

.cmda-carrousel > ul,
.cmda-carrousel > ul > li {
    margin:0;
    padding:0;
    list-style:none;
}

/* carrousel container */
.cmda-carrousel > ul:first-of-type {
    display:flex;
    overflow-x:scroll;
    overflow-y:hidden;
    -ms-overflow-style:none;
    -webkit-overflow-scrolling:touch;
}

/* SCROLBAR*/
.cmda-carrousel > ul:first-of-type::-webkit-scrollbar {
    width: 10% !important;
    height: 10% !important;
}

/* carrousel items */
.cmda-carrousel > ul:first-of-type > li {
    box-sizing:content-box;
}

/* bolletjes */
.cmda-carrousel .cmda-bolletjes {
    padding:.5rem 0 .5rem;
    display:flex;
    justify-content:center;
}

.cmda-carrousel .cmda-bolletjes li {
    margin:0 .25rem;
    width:.5rem;
    height:.5rem;
    border-radius:50%;
}

/* carrousel items content container */
.cmda-carrousel .my-content {
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    border: solid 0.1em;
    border-radius: 0.5em;
    padding: 1em;
    height: 13em;
    background: white;


}

/*INLOGGEN REGISTREREN PAGINA*/

.container {
    font-family: "NexaLight";
}
